.wrapper {
    margin: 0 10px;

    .textField {
        margin-bottom: 15px !important;
    }

    .title {
        display: block;
        max-width: 165px;
        word-break: break-all;
        font-size: 17px;
        cursor: pointer;
    }
}
