.activeFilter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}

.titleTodolist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonsTodolist {
    display: flex;
    justify-content: space-between;
}

.tasksTodolist {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}
