.app-bar {
    position: relative !important;
    margin-bottom: 20px;

    .linear-progress {
        position: absolute;
        bottom: 0;
    }
}

.trash {
    transition: 0.3s !important;

    &:hover {
        color: red;
    }
}

.input-todolist {
    margin-bottom: 30px;
}

.paper {
    padding: 10px;
}

.MuiFormControl-root {
    height: 56px;
}
