.app-bar {
    margin-bottom: 20px;
}

.trash {
    transition: 0.3s !important;

    &:hover {
        color: red;
    }
}

.input-todolist {
    margin-bottom: 30px;
}

.paper {
    padding: 10px;
}

.MuiFormControl-root {
    height: 56px;
}
