.App {
    padding: 30px;
}

.App > div {
    margin-right: 50px;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}

.error {
    color: red;
}

.error-input {
    border-color: red;
}

.d-flex {
    display: flex;
}

.input-todolist {
    margin-bottom: 30px;
}

.todolist {
    margin-right: 20px;
}
